<a href="#" id="scrolling-menu" class="menu-open fixed top-10 right-10 flex scale-0 transform items-center space-x-3 rounded-md bg-secondary-700 py-3 px-4 transition-transform will-change-transform lg:top-5 lg:right-5">
   <div class="text-xl uppercase text-primary-900">Menu</div>
   <div class="relative flex h-5 w-7 flex-col space-y-1">
      <div class="h-1 w-full rounded-full bg-primary-900"></div>
      <div class="h-1 w-full rounded-full bg-primary-900"></div>
      <div class="h-1 w-full rounded-full bg-primary-900"></div>
   </div>
</a>
