<section class="bg-primary-900 px-14 pt-48 sm:px-8 sm:pt-36">
	<div class="mx-auto flex max-w-5xl items-start lg:flex-col">
      {% if fields.hero_title or fields.hero_badge or fields.hero_subtitle %}
		<div class="mr-16 flex-1 w-7/12 text-white lg:flex lg:flex-wrap lg:mr-0 lg:mb-16 max-w-lg lg:w-full">
         {% if fields.hero_badge %}
			<div class="inline-block rounded border border-secondary-800 py-2 px-4 text-sm font-normal uppercase text-secondary-800">
				{{fields.hero_badge}}
			</div>
         {% endif %}
         {% if fields.hero_title %}
			<h1 class="my-6 text-6xl font-bold sm:text-5xl tracking-tighter">
				{{fields.hero_title}}
			</h1>
         {% endif %}
         {% if fields.hero_subtitle %}
			<p class="text-xl">
				{{fields.hero_subtitle}}
			</p>
         {% endif %}
		</div>
      {% endif %}
		<div class="flex-none w-5/12 space-y-6 rounded-md bg-white p-12 shadow-form lg:w-full sm:p-8">
			{{ function('do_shortcode', '[ninja_form id=2]') }}
		</div>
	</div>
</section>