<div class="absolute bottom-12 -right-12 rounded-md bg-white p-6 lg:-right-8 lg:bottom-8 sm:hidden">
	<div class="inline-flex h-12 w-12 items-center justify-center rounded-full bg-secondary-700 mb-8">
		<ion-icon name="information-outline" class="text-primary-900 text-2xl"></ion-icon>
	</div>
	<h4 class="mb-4 text-3xl font-bold tracking-tighter">Did you know</h4>
	<p class="max-w-[15rem]">{{fact}}</p>
</div>
