<div class="absolute bottom-12 -left-12 rounded-md bg-white p-6 lg:-left-8 lg:bottom-8 sm:hidden">
	<div class="mb-6 flex items-center justify-between">
		<div class="mr-5 text-base font-bold uppercase text-neutral-400">
			{{props.title}}
		</div>
		<div class="rounded bg-secondary-900 py-1 px-2 text-sm font-bold uppercase text-white">
			+{{props.percentage}}%
		</div>
	</div>
	<div class="rounded-md bg-secondary-700 p-6">
		<div class="mb-5 block text-5xl font-bold tracking-tighter text-primary-900">
			£{{props.total}}
		</div>
		<div class="text-sm">{{props.comparison}}</div>
	</div>
</div>
