<section class="px-6 sm:p-0">
   <div class="mx-auto max-w-7xl">
      {% if fields.map_link %}
         <iframe src="{{fields.map_link}}" class="w-full aspect-video border-0 rounded-md"></iframe>
      {% else %}
         Please add the link for your map.
      {% endif %}
   </div>
</section>
