<div class="grid h-44 w-full grid-cols-3 rounded-md border border-neutral-200 sm:h-auto sm:grid-cols-1">
   {% for stat in fields.stats_tiles %}
	<div class="flex h-full flex-col justify-center space-y-1 p-8 text-center {% if loop.index == 2 %}border-x border-neutral-200 sm:border-x-0 sm:border-y{% endif %}">
      <h6 class="font-bold uppercase text-neutral-400">
         {{stat.stats_tile_heading}}
      </h6>
      <h3 class="text-5xl font-bold">
         {{stat.stats_tile_figure}}
      </h3>
   </div>
   {% endfor %}
</div>