<section class="py-32 px-8 lg:py-14">
   <div class="mx-auto max-w-6xl">
      <div class="mb-4 flex justify-center">
         <h6 class="rounded bg-secondary-700 py-2 px-4 text-lg font-bold uppercase tracking-tighter text-primary-900">
            Updates
         </h6>
      </div>
      <h2 class="mx-auto mb-16 max-w-lg text-center text-5xl font-bold tracking-tighter text-primary-900 sm:mb-10">
         {% if fields.updates_title %}
            {{fields.updates_title}}
         {% endif %}
      </h2>

      {% include 'partial/articles.twig' with {'posts': updates_posts, 'maxPosts': 4} %}
      
   </div>
</section>
