{% block html_head_container %}
	{% include 'html-header.twig' %}
{% endblock %}

<body class="bg-white font-medium tracking-tight text-neutral-800 {{body_class}}">

	{% block header %}
		{% include 'header.twig' %}
	{% endblock %}

	<main id="content" role="main">
		{% block content %}
			No content to display
		{% endblock %}
	</main>

	{% block footer %}
		{% include 'footer.twig' %}
	{% endblock %}

	{% include 'menus/scrolling-menu.twig' %}
	{% include 'menus/offscreen-menu.twig' with {'items': master.get_items} %}

	<script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	{{ function('wp_footer') }}

</body></html>
