{% extends "base.twig" %}

{% block content %}

   {% include 'heros/hero-blog.twig' with {'props': {'title': 'The App4 Blog', 'badge': 'Blog Articles'}} %}

   <section class="py-32 px-8 lg:py-14">
      <div class="mx-auto max-w-6xl">
         {% include 'partial/articles.twig' with {'posts': posts} %}
      </div>
   </section>

   {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 2, end_size: 1}) } %}

{% endblock %}
