{% if posts %}
   <div class="grid grid-cols-2 items-start gap-8 lg:gap-2 md:grid-cols-1">

      {% if maxPosts %}
      {% for post in posts|slice(0, maxPosts) %}
         {% include 'tease.twig' with {'post': post} %}
      {% endfor %}
     {% else %}
      {% for post in posts %}
         {% include 'tease.twig' with {'post': post} %}
      {% endfor %}
     {% endif %}

   </div>
{% endif %}